#OSX
#-------------------------------------------------------------------------------
.DS_STORE


#General
#-------------------------------------------------------------------------------
node_modules/
.vscode
yarn.lock
